* {
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
  font-size: 16px;
  background-color: #f2f2f2;
  width: 1400px;
  max-width: 100%;
}

a { color: inherit; }

#site-header {
  margin: 0;
  padding-left: 2em;
  background-color: #c70d2c;
}

#site-header a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#site-header a:hover { background-color: #970a21; }

.site-panel {
  background-color: lightskyblue;
  padding: 0.1em 1em 0.1em 1em;
  margin-top: 0.5em;
}

.testcase-panel * {
  margin: 0;
  line-height: 1.4em;
}

.testcase-panel {
  margin-top: 0.5em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.testcase-panel > p,
.testcase-panel > h2,
.testcase-panel > h3 {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

.testcase-panel > h2 {
  font-size: 1.2em;
}

.testcase-area {
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid #ccc;
  border: 0;
}

.testcase-steps {
  padding: 0.5em;
  list-style: decimal;
  list-style-position: inside;
  border-bottom: 1px solid #ccc;
}

.testcase-filters {
  padding: 0.5em;
  list-style: decimal;
  list-style-position: inside;
}

.testcase-filters pre {
  padding: 0.1em;
  overflow: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: monospace;
}

.testcase-trigger {
  flex-grow: 1;
  padding: 0.5em;
  color: #fff;
  background-color: #444;
}

.testcase-trigger:hover {
  background-color: #888;
}

.testcase-examplecontent {
  flex-grow: 1;
  padding: 0.5em;
  color: #fff;
  background-color: #0dc74b;
}

[data-expectedresult="fail"] {
  flex-grow: 1;
  padding: 0.5em;
  color: #fff;
  background-color: #c70d2c;
}

[data-expectedresult="pass"] {
  background-color: #0dc74b;
  padding: 0.5em;
}

.testcase-trigger[data-expectedresult="fail"]:hover {
  background-color: #c70d2c;
}

img[data-expectedresult="fail"] {
  flex-grow: 0;
  padding: 0;
}

img#img-eh {
  flex-grow: 1;
}
